<div cdkMenuBar class="bg-green-700 text-white text-sm">
  <div class="flex max-w-7xl items-center justify-between">
    <!-- Brand icon -->
    <div class="mx-6 grow-0 my-2">
      <img src="/assets/svg/jumbo.svg" alt="" srcset="" width="60px">
    </div>
    <!-- Search input -->
    <app-input-search class="grow" ></app-input-search>
    <!-- Btn group menu -->
    <div class="grow-0">
      <button class="mx-1 max-w-[120px] " cdkMenuItem>{{"searchBar.btn.configuraMetodoEntrega" | translate}}</button>
      <button class="mx-1 max-w-[120px]" cdkMenuItem>{{"searchBar.btn.registrate" | translate}}</button>
      <button class="mx-1 max-w-[120px]" cdkMenuItem>{{"searchBar.btn.miCuenta" | translate}}</button>
    </div>
  </div>
</div>
