<mat-toolbar >
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Jumbo</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon >favorite</mat-icon>
  </button>
  <button type="button" [matMenuTriggerFor]="cartMenu" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon *ngIf="badgeCart==0; else iconBadget">shopping_cart</mat-icon>
    <ng-template #iconBadget>
      <mat-icon [matBadge]="badgeCart">shopping_cart</mat-icon>
    </ng-template>
  </button>
</mat-toolbar>

<mat-menu #cartMenu class="w-[300px]">
  <menu mat-menu-item *ngFor="let item of cartItems">
    <div class="flex justify-start items-center my-1 ">
      <div>
        <img class=" max-w-[70px]  m-auto" [src]="item.product.img" alt="" srcset="">
      </div>
      <div>
        <h4 class="font-bold text-center">{{item.product.name}}</h4>
        <p class="text-gray-400 text-center">{{item.product.brand}}</p>
        <p class="text-center"> <strong>Cantidad</strong> :<span>{{item.quantity}}</span> </p>
      </div>
    </div>
    <!-- <mat-divider class="w-[300px]" ></mat-divider> -->
  </menu>
  <menu mat-menu-item  >
    <div class="flex justify-center my-3">
      <button mat-icon-button aria-label="open cart" (click)="''">
        <mat-icon>shopping_cart</mat-icon>Abrir carrito
      </button>
    </div>
  </menu>
</mat-menu>
